.box{
    color: aliceblue;
    margin-top: -52px;
    margin-left: -= 100px;
}
.tou2{
    width: 170px;
    height: 50px;
    position: absolute;
    margin-left: 1130px;
    margin-top: -62px;
    border-radius: 15px;
    background-color: #BFAFF2;
}
.tolqin{
    margin-top: 03px;
    text-align: center;
    color: #333333;
}
.box1{
   color: aliceblue;
}
main{
    display:flex;
}
.bo8{
    margin-top: 100px;
    margin-left: 100px;
}
.bo9{
    margin-top: 100px;
    margin-left: - 250px;
}
.bi5{
    width: 325px;
    height: 240px;
    border-radius: 32px;
    background-color: #232028;
    margin-left: 70px;
}
.bo3{
    text-align: center;
    color: aliceblue;
}
p{
    width: 293px;
    height: 102px;
    color: aliceblue;
    margin-left: 100px;
    margin-top: -180px;
}
.n3{
    width: 325px;
    height: 240px;
    border-radius: 32px;
    background-color: #232028;
    margin-top: 450px; 
    margin-left: -200px; 
}
.l6{
    text-align: center;
    color: aliceblue;
    margin-top: 5px;
}
.b2{
    width: 293px;
    height: 102px;
    text-align: center;
    color: aliceblue;
    margin-top: 510px;
    margin-left: -300px;
}
.vd3{
    width: 248px;
    height: 320px;
    margin-top: 100px;
    margin-left: 100px;
}
.HU{
    width: 325px;
    height: 240px;
    border-radius: 32px;
    background-color: #232028;
    margin-top: 450px;
    margin-left: -300px;
}
.nui{
    text-align: center;
    color: aliceblue;
}
.lo7{
   margin-top: -17px;
   margin-left: 20px;
}
.uy9{
    width: 248px;
    height: 320px;
    margin-top: 100px;
    margin-left: 100px;
}
.qw3{
    width: 25px;
    height: 240px;
    border-radius: 32px;
    background-color: #232028; 
    margin-top: 400px;
    margin-left: -100px ;
}
.nik2{
    color: aliceblue;
    margin-top: 10px;
    margin-left: 900px;
}
.tou{
    width: 175px;
    height: 50px;
    border-radius: 15px;
    background-color: #3a15b4;
}
footer{
    width: 1540px;
    height: 64px;
    position: absolute;
    background-color: #1f1b2d;
    color: aliceblue;
}
h4{
    margin-top: -42px;
    margin-left: 1150px;
}
.t3{
    margin-left: 1250px;
}
.vg{
    color: aliceblue;
    margin-top: -40px;
    position: absolute;
    margin-left: 1350px
}